{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Título por defecto{% endblock %}</title>
    <!-- Cargar Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Cargar tu CSS personalizado -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <!-- Incluir el Navbar -->
        {% include 'nav_default.html' %}
    </header>

    <main role="main" class="container" style="min-height:80vh;">
        {% block content %}
            <!-- Este bloque será reemplazado en las páginas específicas -->
            <p>Contenido por defecto</p>
        {% endblock %}
    </main>

    {% include 'footer.html' %}


    <!-- Cargar Bootstrap JS (jQuery debe incluirse antes) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-r1b/gF1BtPf4zBjQQJ37DY0jqC3ZG1ypYVnbkYIa0oxDsqfA1P01LhOpcB4Q6Tc3" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+8Fh796cwJ85C0p+IBk033kcu4zvZv0+4Hw" crossorigin="anonymous"></script>
</body>
</html>
