<footer class="container-fluid" style="background-color: #F3B563; color: black; padding-top: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Ubicación</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="https://maps.app.goo.gl/ZzidbmvyNVdMbvqTA">Ubicación</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Contacto</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">+56 9 42702984</a></li>
                    <li><a class="text-muted" href="#">hostalroma@mgmail.com</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Servicios</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Servicios</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col text-center">
                <p class="text-muted">&copy; {{ year }} HOSTAL ROMA</p>
            </div>
        </div>
    </div>
</footer>
