{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <nav>
            <img src="{% static "img/logo.jpeg" %}" width='100'/>
            <ul>
                <li><a href= '{% url "inicio" %}'>Hostal Roma</a></li>
                <li><a href= '{% url "habitacion" %}'>Habitaciones</a></li>
                <li><a href= '{% url "habitacion" %}'>Servicios</a></li>
            </ul>
        </nav>

        <main>
        
        </main>
        <footer>
            <p> Todos los derechos reservados </p>
        </footer>

    </body>
</html>